extends layout 
 
block content 
  h1= title 
 
  - let peacockid = toShow._id 
  - let peacock_type = toShow.feathers 
  - let peacockcost = toShow.legs 
  - let peacocksize = toShow.gender 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{peacockid} 
  - let actionid = "/resource/peacocks/" + peacockid 
  form(id='PeacockForm', action= actionid, method="PUT") 
    div.form-group 
        label.peacockAttr(for='feathers') Peacock feathers 
        input#peacock_type(type='text', name='feathers', value= peacock_type ) 
    div.form-group 
        label.peacockAttr(for='gender') Peacock legs 
        input#size(type='number', name='gender', value= peacockcost ) 
    div.form-group 
        label.peacockAttr(for='legs') Peacock gender 
        input#cost(type='text', name='legs', value= peacocksize ) 
    input(type="submit") 
 
  script. 
    document.forms['PeacockForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 